.ls{
	background-color:black;
	border:4px double pink;
	margin-top:100%;
	}
    .it
    {
        font-size:20px;
    }
    .w
    {
      background-color:none;
    }
        a:link{color:white;}
        a:hover{color:rgb(0, 204, 255);}
        a:active{color:rgba(224, 17, 151, 0.47);}
     body
	{
	 background-image: url("99.jpg");
	 background-position: center;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	}
    .z{text-decoration: none;}
