.ls{
	background-color:black;
	border:4px double pink;
	margin-top:100%;
	}
    .it
    {
        font-size:20px;
    }
    .w
    {
        background-color:pink;
	border:4px double white;
	box-shadow:10px 10px orange;
    }
    .j
      {
        text-align:right;
        background-color:cyan;
	    color:"blue";
      }
        a:link{color:blue;}
        a:visited{color:rgb(125, 122, 122);}
        a:hover{color:rgb(246, 250, 247);}
        a:active{color:rgba(224, 17, 151, 0.47);}
     body
	{
	 background-image: url("67.jpg");
	 background-position: center;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	 background-size: cover;
	}
    .z{text-decoration: none;}
