body{
    background-image:url("17.png");
    background-position:top;
    background-attachment:fixed;
    background-repeat:none;
    }
    .a{
        margin:320px;
        margin-top:100px
    }
    .n{
        text-decoration:none;
        color:rgb(0, 204, 255);
        font-weight:100px;
        font-size:30px;
    
    }
    .as{
        margin-left:37%;
        margin-top:10%;
        background-color:#ffffff10;
        border-radius:10px;
            width:500px;
            color:rgb(0, 204, 255);
    }
    .aa{
        width:248px;
        size:20px;
        text-align:center;
    }
    input[class=z]{
        width:100%;
        color:rgb(243, 243, 243);
        background-color: #a6d6e9;
        border-width:3px;
    }
    .kl{
        text-align:center;
        color:aliceblue;
    }
    .z{font-size:15px;}
    #ty{font-size: 20px;}
    input[class=z]:hover{border-color:#001aff;}
    .qw{
        display:inline-flex;
    }
    .zz{
        display:inline-flex;
        margin-bottom:20px;
    }
    input[class="y"]{border-radius:44px;}
    input[class="z"]{border-radius:44px;}
    .hh{border-radius: 44px;}
    .ha{border-radius: 44px;}
    .hb{border-radius: 44px;}
    input[class=hh]{background-color: red;}
    input[class=ha]{background-color: rgb(0, 204, 255);}
    input[class=hb]{background-color: rgb(7, 7, 7);}
    .bb{margin:20px;}
    .bx{margin-bottom: 10px;}
    input[class=z]{height: 35px;}
    input[class=hh]{height: 35px; margin:2px;}
    input[class=ha]{height: 35px;}
    input[class=hb]{height: 35px;}
    .qw{margin-top:20px;}
    .aa{border-radius: 44px;;}
    .dd{color:white;}
    #ty{background-color:#008fc3}
    .bu{
        border-radius: 44px;
        font-size:25px;
        text-align:center;
        background-color:transparent;
    
    }
    #kz{
        width:145px;
        color:white;
        
    }
    .bu{
        width:248px;
        color:rgb(0, 204, 255);
        border-color:transparent;
    }
    .bu:hover{background-color:rgb(0, 204, 255);color:white;}
    #ty{height:50px;
    border-width:3px;}
    .kz{ width:150px;}
    .bb{margin-bottom:200px;}
    input[type]:hover{border-color:rgb(0, 204, 255);}
    #ll{border-top:transparent;
    border-left:transparent;
    border-right:transparent;
    background-color:transparent;
    border-bottom-color:rgb(150, 226, 245);
    border-width:5px;}
    #ll:hover{border-bottom-color:rgb(0, 204, 255);}
    #ll:focus{border-color:rgb(0, 204, 255);}
    .gg{color:white;margin-left:330px;text-decoration:none;}
    .kk{margin-top:10px;}